body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: color #DE5C85;
    padding: 20px;
}


header {
    text-align: center;
    padding: 50px 0;
    background-color:#DE5C85;
    color: #333;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}


section {
    margin: 40px 0;
    padding: 20px;
    background-color:#DE5C85;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(180, 63, 63, 0.1);
}

section h2 {
    margin-bottom: 20px;
    color: #333;
}


#about img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}


#skills ul {
    list-style: none;
    padding-left: 0;
}

#skills li {
    background-color:#C6F4C9;
    color:#333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}


#projects .project {
    margin-bottom: 20px;
}

#projects img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}


#resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #32CD32;
    color: #19827e;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


#contact p {
    margin: 10px 0;
}